       @charset "utf-8";
       
       body{
        background-color: rgba(56, 191, 249, 0.537);
        font-family: Brush Script MT;
        font-size: 20px;
        text-align: justify;
        }

        h1{
            background-color: rgb(45, 85, 131);
            color: rgb(87, 7, 12);
            font-family: arial;
            text-align: center;
        }

        h2{
            text-align: center;
        }
        hr{
           border: none;
           height: 2px;
            background-color:rgb(211, 73, 73);
        }
