@charset "utf-8";
@font-face {
    font-family:"Aston";
    src: url("Aston Script.ttf") format("truetype");
}
body{
    background-image: linear-gradient(to left, rgba(6, 6, 255, 0.425),rgb(246, 246, 247));
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
main{
    width: 400px;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    background-color: white;
    text-align: justify;
    box-shadow: 10px 10px black;
}
h1{
    font-family: "Aston";
    text-align: center;
}