@charset utf-8;

body{
    background-image: linear-gradient(to right,rgba(44, 44, 243, 0.281)5%,rgb(255, 255, 255));
  }

  main{ 
    width: 800px;
    height: auto;
    background-color: white;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:10px 10px rgba(20, 20, 20, 0.327);
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-style: italic;

  } 
  